@import '../../styles/mixins.scss';

.Home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: background-color .4s ease-in;
  &.Scene1 {
    background-color: black;
    .Honmonos {
      opacity: 0;
    }
  }
  &.Scene2 {
    .HMNS_X {
      opacity: 1;
      transform: scale(1.3);
    }
  }
  .Honmonos, .HMNS_X {
    font-size: 116px;
  }
  .Honmonos {
    color: #000;
    opacity: 1;
    transform: scale(.4);
    transition: opacity .4s ease-out;
  }
  .HMNS_X {
    color: white;
    opacity: 0;
    transform: scale(.8);
    transition: opacity .6s ease-out, transform 7s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .Fx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include mobile {
    .Honmonos, .HMNS_X {
      font-size: 52px;
    }
  }
}
